.promo,
.promo-two {
  background: #c7e2f5;
  border-radius: 10px;
  max-width: 670px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  padding: 25px 0;
}

.text,
.code,
.link {
  font-size: 18px;
}

.code {
  font-weight: 600;
}

.link {
  margin-top: 25px;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  color: #0068b3;
}

.input-container,
.copy {
  background: #72d282;
  background: linear-gradient(to bottom, #72d282 0%,#12851c 100%);
  font-size: 16px;
  display: inline-block;
}

.input-container {
  border: 1px #a1a1a1 solid;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  width: 92%;
}


.input {
  padding: 8px 10px;
  border: none;
  display: inline-block;
  width: 80%;
  font-weight: 300;
  outline: none;
}

.copy {
  color: #fff;
  width: 20%;
  font-weight: 600;
  text-align: center;
  padding: 6px 0;
  user-select: none;
  cursor: pointer;
}

.promo-two .link {
  margin-top: 10px;
}